/*
* https://css-tricks.com/almanac/properties/a/animation/
* https://www.kirupa.com/html5/css3_animations_vs_transitions.htm
* 처음에는 keyframe이 있다가 나중에 transition이 추가됨
*
* 1.keyframe:css가 적용되자마자 일정 시깐후에 시작됨
* animation name, duration, (time-function, delay),
* .className { animation: keyframename 5s infinite }
* @keyframes keyframename { 0% {css 속성들.....}  50% {.....}  100%....}
*
*
* 2.transiation: 한 속성에서 다른 속성 값으로 자동으로 smooth하게 변환 시킴
* transition: [property] [duration] [timing-function] [delay];  //css의 속성은 안 기록한다
* div { width: 100px; -webkit-transition: width 2s; transition: width 2s; }
* div:hover { width: 300px;  transition-timing-function: linear; }
* https://css-tricks.com/almanac/properties/t/transition/,
* https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
* 하나의 줄거리를 이루기 위한 애니메이션 보다는, 특정 객체를 부각시키는 인스턴트적인 상황이나 화면 전환에 더 적합합니다. 예를들어, 객체의 모양을 왜곡시킨다던가 혹은, 같은 동작을 무한 반복시키는 기능(Film Loop)은 없습니다
* :hover와 같은 가상 클래스 선택자(Pseudo-Classes) 혹은, 자바스크립트의 onclick 이벤트 따위의 부수적인 액션에 의해 발동
* transformation하고는 전혀 다른 것임(skewxy, rotate, translate(이동)), scale(x,y크게작게)move): https://css-tricks.com/almanac/properties/t/transform/
*
* 3.ng-animate: 페이지(장면전환)에 사용한다
* ng-if, ng-show, ng-hide, ng-view...등을 사용할때 꼭 고려해서 사용
* https://code.tutsplus.com/tutorials/how-to-create-animations-in-angularjs-with-nganimate--cms-28593
* ng-enter, .red-bar.ng-enter.ng-enter-active, //ng-leave, .ng-animate....
* src="libs/angular/angular-animate.js", angular.module('app', ['ngCookies','ui.bootstrap',’ngAnimate’])
* http://webframeworks.kr/tutorials/angularjs/angular_animation/
*  사용자 정의 지시자는 애니메이션을 위한 $animate 서비스를 통해 처리
* ngVIew	enter, leave	.ng-enter, .ng-leave	.ng-enter-active, .ng-leave-active
*
* .ani-repeat.ng-enter {
DOM 요소가 새로 추가되면 enter 이벤트가 발생하고 .ng-enter CSS 클래스가 해당 DOM 요소에 추가된다. 이때 animation 속성으로 어떤 키프레임을 특정 기간 동안 적용할 지 작성한다.
  -webkit-animation: 0.5s opacity-bright-animation;
  animation: 0.5s opacity-bright-animation;
}
*
* 4.svg-animation
* 로고심볼등에 잘 쓰임
*
* 5.canvas
* (아직까지 사용례가 잘 생각 안남)
*
* 결론: 언제 이런것들을 사용해야 하나?
*   - 장면전환, detailPage 보이기, alsoRead로 장면 전환...
*   - 클릭 및 hover에 대한 반응
*   - 슬라이드 변환 ,  touch & drag
*   - 메뉴 , 헤드 보이기 숨기기 ,(뒷화면 선글라스....효과등등)
*
*
*  css+angular animation은 어떻게 테스트 할수가 있나? (css-lint)
*/
