

* {
    box-sizing: border-box;  //sure that padding,border included in the total width and height of the elements.
}

/* mobile screen */
@media only screen and (max-width: 768px) {   /* 500? typical mobile 320~360 mobile landscape 640 */
  /* 화면에 꽉차게, margin,padding 최소(left/right:width) col-xs,    */


}

/* laptop and pc screen */
@media only screen and (min-width: 769px) {   /*  laptop 1300, pc 960~1900  */

  /*   */

}


/* default pc screen */

html {}
body {}
.className {}
/*
    row, col-xs-{num}, [class*="col-"]
*/
#idName {}
/*
  container, content?

*/

/*
  1.responsive web configs
    읽기 : https://developers.google.com/web/fundamentals/design-and-ui/responsive/?hl=ko
    - html: <meta name="viewport" content="width=device-width, initial-scale=1.0">
    - A @media (min-width: 500px) and (max-width: 600px)
    - B @media only screen and (max-width: 768px){} , @media only screen and (min-width: 769px){}
    - fontsize
    - 사용빈도가 약간 적은 것들 :
        : @media only screen and (orientation: landscape)
        : <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="HandheldFriendly" content="true">
        : Tablet Landscape @media screen and (max-width: 1060px)
          Tabled Portrait (max-width: 768px)
        : @media (min-device-width:600px)

  2. bootstrap class names
    - class="container" -> "jumbotron" + "row">"col-xs-4 col-md-4" + "col-md-4"

  3.mobile debugging
    - android chrome:
        chrome://inspect
        https://developers.google.com/web/tools/chrome-devtools/remote-debugging/?hl=ko
    - ios safari
    - laptop
*/
