<!doctype html>
<html>
   <body>

     {% if name %}
     <h1>Hello {{ name }}!</h1>
     {% else %}
     <h1>Hello World!</h1>
     {% endif %}

      {% if msg %}
      <div>{{msg}}</div>
      {% endif %}
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>

   </body>
</html>
