/*   http://callmenick.com/post/an-introduction-to-sass-scss  */
$margin-mobile : 5px;
$margin-pc : 10pc;
$color-primary : rgb(40,40,40);

.container{
  margin-left: $margin-pc;
}

body {
  background-color: $color-primary;
}
