//install: brew install node, npm init(package.json), npm install -g node-sass, which node-sass
//node-sass style.scss style.css

$breakpoints: (
    xs: 0px,  //not used
    sm: 480px,  //min 480
    md: 768px,   //min 768
    lg: 1200px   //min 1200
);

@mixin media-break($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$style1: 100%, 70px, #fo6d06;
$style2: (background: #bada55, width: 100%, height: 100px);
//@include box($style2...);
@mixin box($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}

//usage; map-get($colors, brand);
$colors:(
  primary: #333,
  secondary: #555,
  brand: #ff0033
);


/* mobile first   */


/* tablet design  */
@include media-break(sm) {
    display: block;
}

/* pc design */
@include media-break(md) {
    display: block;
}


//any bigger screen?


/*  */

.el {
  display: none;

  @include media-break(sm) {
    display: block;
  }
  @include media-break(md) {
    display: block;
  }
}
