/* mobile first   */
/* tablet design  */
@media screen and (min-width: 480px) {
  display: block; }

/* pc design */
@media screen and (min-width: 768px) {
  display: block; }

/*  */
.el {
  display: none; }
  @media screen and (min-width: 480px) {
    .el {
      display: block; } }
  @media screen and (min-width: 768px) {
    .el {
      display: block; } }
