<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>angular old way</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="js/util1.js"></script>
    <script type="text/javascript" src="js/dataService.js"></script>
    <script type="text/javascript" src="js/util2.js"></script>
    <script type="text/javascript" src="js/myController.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

  </head>
  <body>
  <!-- document structure with emmet:
      div#container > (h1.head + div.display>span + div.click )
  -->
    <div id="container" ng-app="myapp" ng-controller="myController">
      <h1 class="head">Hello World</h1>
      <div>My Display is <span ng-bind="display"></span></div>
      <div class="click" ng-click="clickme1">click me1</div>
      <div class="click" ng-click="clickme2">click me2</div>
    </div>
  </body>
</html>
