<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>anguar 1.x + browserify + node require</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- angular-animate.js, (angular-mocks.js) angular-cookies.js -->
    <script type="text/javascript" src="../module/ViewController2.js"></script>
    <script type="text/javascript" src="../module/app2_old.js"></script>

  </head>
  <body>
    <div class="container">
      <div id="div1" class="viewpage" ng-bind-html="div1.content"></div>
      <div id="div2" class="viewpage" ng-bind-html="div2.content"></div>
      <div id="div3" class="viewpage" ng-bind-html="div3.content"></div>
    </div>

    <script ng-repeat="script in scripts" ng-src="{{script.src}}"></script>

  </body>
</html>
