<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>anguar 1.x + browserify + node require</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="js/bundle.js"></script>

  </head>
  <body>
    <div class="container">
      <div id="div1" class="viewpage" ng-bind-html="div1.content"></div>
      <div id="div2" class="viewpage" ng-bind-html="div2.content"></div>
      <div id="div3" class="viewpage" ng-bind-html="div3.content"></div>
    </div>

    <script ng-repeat="script in scripts" ng-src="{{script.src}}"></script>

  </body>
</html>

<!--
    promise
        p; 1)p.then(success, fail), or 2*)p.success(function(data){}); ..error 


    angular
        history api - routing
          angular.module('userMgnt', ['ngRoute']),
            app.config(function ($routeProvider) {  $routeProvide.when('/', {templateUrl,controller}.({redirectTo: '/home'}););});
          <ng-view></ng-view> <script src="angular-route.js">
        SPA : ng-view = container

    angular directive
        app.directivr("tagName", function(){ return { restrict : "C", template: "hello world" };});
        //you must use a camel case name, w3TestDirective, but when invoking it, you must use - separated name, w3-test-directive

    angular animate
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
        ng-animate controls: ng-show,hide,class,view,include,repeat,if,switch

    angular i18n


    angular filter
        filter Select a subset of items from an array, orderBy Orders an array by an expression
        html: ng-repeat="x in names | filter : 'i'"

-->
