<!--

templating engine이 계산해서 넣어 주어야 하는 변수들은?
  - contents : user_name,
  -
  - google analytics, facebook pixel tracking urls

-->


<style>
</style>
<div>

  <table>

    <tbody>
      <!--  google notification email template-->
      <tr><td><tabel width="100%">
                  <!-- 1: company logo head -->
      </table></td></tr>
      <tr height="16">link space</tr>
      <tr><td><tabel width="100%">
                  <!-- 2: email title: solid color -->
      </table></td></tr>
      <tr><td><tabel width="100%">
                  <!-- 3: email body: grey box line -->
                  <!-- 여기에 내용
                      hi jungh
                      summary sentence
                      (explanations)
                      Action button,
                      Sent-By(The Kewtea Journal team)
                      (subnotes)을 넣는다,  -->
      </table></td></tr>
      <tr height="16">line space</tr>
      <tr><td><tabel width="100%">
                  <!-- 4: foot subscripts -->
            (c)2017  KewTea Inc., 201 839-5 Yoksam-dong, Gangnam-gu, Seoul, South Korea
            SNS; facebook, instagram, medium, 
      </table></td></tr>
    </tbody>
  </table>



</div>
