<html>
<head>

<meta charset="UTF-8">
  <title>AngularJS Tutorial</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body ng-app='app' ng-controller='MainController as main'>
<!-- for sideNote -->
<div id="sidenote" ng-controller="sideNoteController as snCtrl" ng-init="">
  <div>
    <div>about Page</div>
    <div>hello this is about Page</div>
  </div>
  <div>
    <div>comments</div>
    <div ng-include="sidenote.commentsView"></div>
  </div>
  <div>
    <div>Also Extra</div>
    <div></div>
  </div>

</div>
<!-- for scrapbook  -->
<div id="scrapbook" ng-controller="scrapbookController as sbCtrl" ng-init="">
  <div id="myCollections" ng-controller="myCollectionsController as mcCtrl" ng-init="">
    <div ng-bind="scrapbook.collections.title">My Collections</div>
    <div ng-include="scrapbook.collections.viewhtml"></div>
  </div>
  <div id="myKeywords" ng-controller="myKeywordsController as mkCtrl" ng-init="">
    <div ng-bind="scrapbook.keywords.title">My Keywords</div>
    <div ng-include="scrapbook.keywords.viewhtml" ng-bind="scrapbook.keywords.keywords"></div>
  </div>
  <div ng-if="account.show" >shared with me</div>
  <div ng-if="account.show" >my groups</div>
  <div id="settings" ng-controller="settingsController as sCtrl" ng-init="">
    <div ng-bind="scrapbook.settings.title">Settings</div>
    <div ng-include="scrapbook.settings.viewhtml" ng-bind="scrapbook.settings.settings">
      <div>General</div>
      <div></div>
      <div>Account</div>
    </div>
  </div>
</div>

<script src="lib.js"></script>
<script src="bundle.js"></script>
</body>
</html>
