<div>
  <div ng-bind="path"> /business(3)</div>
  <div> control buttons </div>
  <div class="panel panel-default" ng-repeat="collection_0 in collections">
      <div class="panel-heading">
        <span ng-bind="collection_0.title" ng-click="level_0_open($index)">journal</span>
        <span ng-bind="collection_0.num">2</span>
        <span ng-click="level_0_edit($index)">edit</span>
      </div>
      <div class="panel-body">
        <div class="panel panel-default" ng-repeat="collection_1 in collection_0.collections">
          <div class="panel-heading">
            <span ng-bind="collection_1.title" ng-click="level_1_open($index)">angular</span>
            <span ng-bind="collection_1.num">5</span>
            <span ng-click="level_1_edit($index)">edit</span>
          </div>
        </div>
        <div ng-repeat="collection_1_comment in collection_1.comments">
            <comment comment='{{collection_1_comment}}'></comment>
        </div>
      </div>
  </div>

  <div ng-repeat="comment in comments">
    <comment comment='{{comment}}'></comment>
  </div>

</div>
