<!-- 사용법 : 브라우져 file_open 혹은 python3.6 -m http.server 8000 --bind 127.0.0.1-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS Tutorial</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  -->
  <link rel="stylesheet" href="../../css/style.css">
  <style>
  </style>
</head>
<body ng-app='app' ng-controller='MainController as main' ng-init='init()'>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" ng-controller='testController' ng-init='init()'>
        <div>SideNote</div><span ng-click="toggle()">clickToggle</span>
        <div ng-repeat="comment in comments track by $index">
          {{comment.time}},{{comment.visib}}<br>
          {{comment.id}}, {{comment.text}}<br>
          /{{comment.collections}}, #{{comment.keywords}}<br>
          <span ng-click="removeA($index)">clickRemove1</span>,<span ng-click="removeB(comment.id)">clickRemove2</span>
        </div>
      </div>
      <div class="col-sm-8">
        <div>ScrapBook</div>
        <div ng-bind="title">What is title from scope?</div>
        <div ng-bind="main.title">What is title from controller?</div>
      </div>
    </div>
  </div>

<!--
  <script src="../../js/lib.js"></script>
  <script src="../../js/bundle.js"></script>
  -->

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
  <script src = "../../module/journal_crx/viewUpdate_test.js"></script>

  <script>
  function mainController($scope){
    var vm = this;
    vm.title = 'controller title is here';
    console.log("main controller loaded");
    $scope.title="MainController_scope_title Here!!";
    $scope.init=function(){
      console.log("main controller init() loaded");
    };
  }
  var app = angular.module("app", ["ngAnimate"]);
  app.controller('MainController', mainController); //이거 동작 안함 app.controller('MainController', [$scope, mainController]);
  app.controller('testController', viewController1);
  </script>
