<!--
  content
      title, path, id, collection_size, comment_size
      ))scrapbook.collections.view(content.id)
      collections[]
        item=>title,collection_size,comment_size, unfold
              collections[]
                item=>id, title, collection_size, comment_size
              comments[]
                item=>id, text, collections, keywords
      comments[]
        item=>
-->
<!-- list collection folders and comments -->

<div>
  <span ng-bind="content.title">journal</span>
  <span ng-bind="content.path">collection_path:/business/journal</span>
  <span ng-click="scrapbook.collections.view(content.id)">oneRankup:</span>
  (<span ng-bind="content.collection_size">3</span>/<span ng-bind="content.comment_size">5</span>)
</div>
<!-- folders for collection -->
<div ng-repeat="collection0 in content.collections" ng-class="" class="folder">
  <div>
    <span ng-bind="collection0.title">crx</span>
    (<span ng-bind="collection0.collection_size">3</span>/<span ng-bind="collection0.comment_size"></span>)
    ,unfold=<span ng-bind="collection0.unfold"></span>
  </div>
  <div>
    <div ng-repeat="collection1 in collection0.collections" class="folder" ng-click="">
      <span ng-bind="collection1.id">id</span>,<span ng-bind="collection1.title">title</span>,
      <span ng-bind="collection1.collection_size">size_col</span>,<span g-bind="collection1.comment_size">size_comments</span>
    </div>
    <div ng-repeat="comment1 in collection0.comments" class="comment">
      <span ng-bind="comment1.id"></span>,<span ng-bind="comment1.text"></span><br>
      //<span ng-bind="comment1.collections"></span>#<span ng-bind="comment1.keywords"></span>
    </div>
  </div>
</div>

<!-- comments -->
<div ng-repeat="comment0 in content.comments" class="comment">
  <span ng-bind="comment0.id">34</span>,<span ng-bind="comment0.text">comment-text</span><br>
  <span ng-bind="comment0.lastUpdated">11-01-2017, 10:00:00</span>,[<span ng-bind="comment0.visibility">public</span>],<br>
  //<span ng-bind="comment0.collections">collection_names</span>,#<span ng-bind="comment0.keywords">collection_names</span>
</div>
