<!-- listView에서 item 1개에 대한 디자인
필요한 항목들이 : visibility(public, private, groups), lastUpdated, commentBodyText, collections, tags, id(long)
-->
<div>item 1...
  <diV><span ng-bind="commentView.visibility"></span><span ng-bind="commentView.lastUpdated"></span></div>
  <diV ng-bind-html="commentView.commentHtml">dataService, server의 comment body를 반드시 html <br> 변환 시켜서 적용해야 한다 </div>
  <diV><span ng-bind="commentView.collections"></span><span ng-bind="commentView.keywords"></span></div>
</div>
