<html>
<head>
  <style>
    #searchBox {
      font:15px/1.3 'Open Sans', sans-serif;
      width: 500px;
      height: 200px;
      background-color: #79c6ec;
    }
    #searchResult {
      font:15px/1.3 'Open Sans', sans-serif;
      width: 800px;
      height: 800px;
      background-color: #00aaff;
    }

    #searchTermBox {
      width: 90%;  /* border=0 ㅌ테두리 없애자     */
      height: 100px;
      background-color: #f1fafc;
      border: 0;
      padding : 5px

    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .search_item{
      background-color: #f0cadf;
    }

    datalist {
        display: none;
    }

    .animate-repeat {
      line-height:40px;
      list-style:none;
      box-sizing:border-box;
    }

    .animate-repeat.ng-move,
    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }

    .animate-repeat.ng-leave.ng-leave-active,
    .animate-repeat.ng-move,
    .animate-repeat.ng-enter {
      opacity:0;
      max-height:0;
    }

    .animate-repeat.ng-leave,
    .animate-repeat.ng-move.ng-move-active,
    .animate-repeat.ng-enter.ng-enter-active {
      opacity:1;
      max-height:40px;
    }

  </style>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>

</head>
<body ng-app ="app" ng-controller="searchController" >  //searchController onLoad()

  <div id="searchBox">
    <input id="searchTermBox" type="text" ng-model="searchTerm" ng-keypress="searchKeyPressed($event)" list="searchTermCandiates" placeholder="Type Something...">
        <!-- ng-keypress="$event.keyCode === 13 && action()"  or document.getElementById('foo').onkeypress = function(e){... -->
      <datalist id="searchTermCandiates">
        <option value="Internet Explorer">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
      </datalist>
    <div class="button" ng-click="clickSearch($scope.searchTerm)" >search</div>
  </div>
  <div id="searchResult">hihihi
    <div class="animate-repeat" ng-repeat="result in search_results track by $index" ng-class="itemClasses"> $id(x)
      comment) result.lastUpdated, result.url, result.bodytext, result.collections, result.keywords,#########<br>
      <span>result id,</span><span ng-bind="result.lastUpdated">lastUpdated,</span><span ng-bind="result.url">url</span><br>
      <span ng-bind="result.bodytext">body_text,</span><span ng-bind="result.collections">collections,</span><span ng-bind="result.keywords">keywords,</span>
      <br>##################################
    </div>
  </div>
  <script>



    var sampleResult=[
        {lastUpdated:"dsfsd", url:"skdjjfh", bodytext:"sdffsdsdf", collections:"ewwfe", keywords:"sdsdfsdf"},
        {lastUpdated:"fffsd", url:"234fh", bodytext:"sdffsdsdf", collections:"ewwfe", keywords:"sdsdfsdf"},
        {lastUpdated:"dddgsd", url:"skff45666fh", bodytext:"sdffsdsdf", collections:"abc", keywords:"eeef"}
      ];

      document.getElementById('searchTermBox').addEventListener('input', function() {
          console.log('input field Changed!');
    });
    //1)
    function searchController($scope,dataService){
      $scope.itemClasses ="search_item";
      $scope.search_results=sampleResult;
      $scope.clickSearch = function(){  //searchTerm?
        console.log("im clicked with "+$scope.searchTerm);
        var searchword=$scope.searchTerm;
        dataService.getCommentsByKeyword(searchword).then(function(searchResult){
          console.log("with response , updating result box list:"+searchResult);
          $scope.$applyAsync(function(){
            $scope.search_results=searchResult;
          });
        });


      };
      $scope.searchKeyPressed=function($event){
        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {
            // Do that thing you finally wanted to do
            $scope.clickSearch($scope.searchTerm);
        }
        if (keyCode === x){
          updateOptionsInSearchCandidates1();
        }
      };

      function updateOptionsInSearchCandidates1(){
        //rootScope로 나중에 도착하는 추천 목록을 없데이트 해야 하나?
        dataService.getSearchTermCandiates(so-far-keywords).then(function(candiates){
          $scope.$applyAsync(function(){
            //$scope.s=searchResult;
            updateOptionsInSearchCandidatesView(candiates);
          });
        });

      };

      function updateOptionsInSearchCandidatesView(){
        var datalist = document.getElementById('searchTermBoxCandiates');
        datalist.textContent = '';
        for (var i = 0; i < candiates.length; i++) {
            if (candiates[i].indexOf(this.value) !== 0) {
                continue;
            }
            var option = document.createElement('option');
            option.value = candiates[i];
            datalist.appendChild(option);
        }
      };

      /*
        그냥  vanilla js로 짜면 https://www.sitepoint.com/creating-autocomplete-datalist-controls/
        var fakeServerResponse = ['Anthony', 'Angel', 'Anna', 'Aurelio'];
var datalist = document.getElementById('names');

document.getElementById('name').addEventListener('keyup', function () {
    if (this.value.length === 0) {  //아무 글자도 없는 경우....일반 추천을 해주면 되나?
        return;
    }

    // Send Ajax request and loop of its result

    datalist.textContent = '';
    for (var i = 0; i < fakeServerResponse.length; i++) {
        if (fakeServerResponse[i].indexOf(this.value) !== 0) {
            continue;
        }
        var option = document.createElement('option');
        option.value = fakeServerResponse[i];
        datalist.appendChild(option);
    }
});

      */


    };

    //2)
    function dataService($http){

      var aObj=[
        {lastUpdated:"aaaa", url:"aaaa", bodytext:"aaaa", collections:"aaaa", keywords:"aaaa"},
        {lastUpdated:"fffsd", url:"234fh", bodytext:"sdffsdsdf", collections:"ewwfe", keywords:"sdsdfsdf"},
        {lastUpdated:"dddgsd", url:"skff45666fh", bodytext:"sdffsdsdf", collections:"abc", keywords:"eeef"}
      ];  //search_result_item: comment (id, lastUpdated, url, body_text, collections, keywords )
      var bObj=[
        {lastUpdated:"bbbb", url:"bbbb", bodytext:"bbbb", collections:"ebbb", keywords:"bbbb"},
        {lastUpdated:"fffsd", url:"234fh", bodytext:"sdffsdsdf", collections:"ewwfe", keywords:"sdsdfsdf"},
        {lastUpdated:"dddgsd", url:"skff45666fh", bodytext:"sdffsdsdf", collections:"abc", keywords:"eeef"}
      ];

      function init(){

      }

      init();

      this.getCommentsByKeyword=function(keyword){
        return new Promise(function(resolve,reject){
          console.log("keyword is "+keyword);
          switch(keyword){
            case("apple"):
              result=aObj;
              break;
            case("kewtea"):
              result=bObj;
              break;
            default:
              result=[
                {lastUpdated:"dddgsd", url:"skff45666fh", bodytext:"sdffsdsdf", collections:"abc", keywords:"eeef"},
                {lastUpdated:"fffsd", url:"234fh", bodytext:"sdffsdsdf", collections:"ewwfe", keywords:"sdsdfsdf"}
              ];
              break;
          }
          console.log("result returning is [0].lastUpdated " +result[0].lastUpdated);
          resolve(result);
        });
      };

      this.getSearchTermCandiates=function(sofar_inputs){
        return new Promise(function(resolve,reject){
          if(sofar_inputs.length>3) result=["apple","mango","sdfdid", "sdfsd"];
          if(sofar_inputs.length==3) result=["apple","mango", "ddsf9ffk"];
          if(sofar_inputs.length==2) result=["apple","dfdfdf", "mango"];
          if(sofar_inputs.length==1) result=["apple","mango", "ddd","sdfsdfs", "sdfsdfsd"];
          else result=["apple","mango", "banana"];
          resolve(result);
        });
      };
    };

    //3)
    var myapp= angular.module("app", ['ngAnimate']); //angular module
    myapp.service('dataService', dataService);
    myapp.controller('searchController', searchController);

  </script>
</body>
</html>
