<!--  다른 html template를 안에서 가져와야 해서 cross-browser 피할려면 재대로 서버를 가동: python3 -m http.server 8000 --bind 127.0.0.1 -->
<html>
<head>
  <style>
    .listItem {
      width:500px;
      height:130px;
      background-color: #d3d3f4;
    }
  </style>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>

</head>
<body ng-app ="app" ng-controller="ViewController">
  hi where are you?
  <!-- comment list view -->

  <div id="comment_{{commentView.id}}" ng-repeat="commentView in commentViews track by $index">
    <div class="listItem" ng-include="commentView.templateSrc" ng-click="editComment(commentView)">hi</div>
  </div>
  <!-- ng-include 대신에 ng-bind-html(with $sec-sanitize)를 쓰는 건 어떤지? e.g. ng-bind-html="comment.content" ng-class='commnet.styleClass'
      onClick을 하면 findElementById('comment_{{id}}').=>child : replaceChild(newChild,oldChild=.childNodes[0]) or appendChild()
  -->
  <!-- commentEdit-->
  <div style="background-color:fee3d4; width:600px;">

    <textarea id="textBox" ng-model="textboxinput" ng-Style="boxStyle" rows="4" cols="50" ng-keypress="optimizeTextBoxHeight()"></textarea> <span ng-click="showTextInput()"> click show the result when deault is rows =4</span>
    <br>
    <div id="textBoxOutput" ng-bind-html="textboxviewoutput"></div>

  </div>

  <!--
    줄 바꿈 저장 : $('#text').val().replace(/\n/g, "<br>"), contents = contents.replace("\r\n","<br>");
    or DB에서 불러와서 textarea에 다시 넣을때 replaceAll("<br/>","\r\n")으로 변환
    다시꺼내올때 text = text.replaceAll("<br>", "\r\n");

    높이 조절은 scrollHeight값을 지정해줌
    ng-Style: boxStyle = { height: scrollHeight};
    document.querySelector() => angular.element 지만, 그냥 vanilla js를 쓰자

    고급 editor 사용시에는 추가 db가 필요함 : comment, template: mkedit:1.4, or html


  -->
  <script>

    //2)
    function ViewController($scope,$sce, dataService){


      var results=[
        {id:2,templateSrc:"itemA.html"},
        {id:3,templateSrc:"itemB.html"},
        {id:4,templateSrc:"itemA.html"}
      ];
      console.log("all setup  and ready");

      var extraHeight=50;  //입력하다가 줄이 모자르면 50px씩 더 준다

      $scope.commentViews = results;
      $scope.editComment = function(viewId){

      };

      $scope.showTextInput = function (){
        $scope.$applyAsync(function(){
          var textOutasHtml=$scope.textboxinput.replace(/\n/g,"<br/>");
          $scope.textboxviewoutput=$sce.trustAsHtml(textOutasHtml);
        });
      };
      $scope.keyPressed=function(){

      };


      $scope.optimizeTextBoxHeight= function (){  //keyPressed가 여기에서 높이를 잰다

        var textbox = document.getElementById("textBox");
        var boxHeightUpdated = textbox.scrollHeight;
        //console.log("textbox.height:"+(textbox.clientHeight));
        //console.log("boxHeightUpdated:"+(boxHeightUpdated));
        console.log("textboxinput:"+$scope.textboxinput);
        if(boxHeightUpdated>textbox.clientHeight){
          $scope.$applyAsync(function(){
            $scope.boxStyle={height:boxHeightUpdated+extraHeight}; //약간의 마진을 더 주어야 스크롤이 완전히 없어진다
          });
        }

      };
      //이것보다 더 좋은 방식은 /n 키값이 입력이 되었을때만 줄을 더 늘려준다. 따가 맞게 늘어 나는 느낌이 날것임. 위의 예시는 1줄이 늘어나고 다시 입력을 시작한 다음에 야 화면이 넓어져서 한발짜국식 늦다.
      /* https://stackoverflow.com/questions/29449883/attempting-to-track-row-of-textarea-with-ng-keypress

      ng-keypress="vm.check($event, $event.keyCode)" function check(event, keyCode) {
     var textarea = event.target;
     ...
}

      */

    };

    function dataService($http){

    };
    //3)
    var myapp= angular.module("app", ['ngAnimate']);; //angular module
    myapp.service('dataService', dataService);
    myapp.controller('ViewController', ViewController);

  </script>
</body>
</html>
